body{
	background-color: 33ddff;
}
button{
	background-color: bcff8a;
}
img{
	margin: auto;
	width: 50%;
	padding: 10px;
}
h1.name{
	background-color: d38aff;
	color: white;
	margin: auto;
	width: 50%;
	text-align: center;
	border-radius: 50px 50px 50px 50px;
}

